.flexsérie {


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 5em;    
    
    margin-left: 20em;
    border: 3px black;
    padding:none;
    background-color: rgba(255,216,0,255);

}
.Titre {
    margin:1em;
    padding:none;
    border: none;
    color: white;

}

.Description{
    margin:1em;
    padding:none;
    border: none;
    color: white;


}

.Note {
    margin:1em;
    padding:none;
    border: none;
    color: white;

}
.Datedesortie{
    margin:1em;
    padding:none;
    border: none;
    color: white;


}

.accroche {

    text-align: center;
    padding-top: 20%;
    color: hsl(0, 0%, 20%);
}
body {

    background-color: hsl(0, 0%, 20%);
}

/*jaune rgba(255,216,0,255)
gris hsl(0, 0%, 20%)*/